/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v15-latin-regular.woff2') format('woff2'),
    url('../fonts/open-sans-v15-latin-regular.woff') format('woff');
}

/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/open-sans-v15-latin-600.woff2') format('woff2'),
    url('../fonts/open-sans-v15-latin-600.woff') format('woff');
}

/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/open-sans-v15-latin-700.woff2') format('woff2'),
    url('../fonts/open-sans-v15-latin-700.woff') format('woff');
}

/* open-sans-800 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/open-sans-v15-latin-800.woff2') format('woff2'),
    url('../fonts/open-sans-v15-latin-800.woff') format('woff');
}
