$electromagnetic: #2f3640;
$hint-of-pensive: #dcdde1;
$lynx-white: #f5f6fa;
$pico-void: #192a56;
$rise-n-shine: #fbc531;
$text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.8);

$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-xs: 576px;
$breakpoint-lg: 1200px;
